.Container {
  width: 45%;
  margin: 0 auto;
  height: 10em;
  display: inline-block;
  border: 1px solid #bbb;
  text-align: right;
}

.Container a {
  text-decoration: none;
}

.Container a svg {
  width: 2em;
}
